/* latin */
@font-face {
    font-family: 'Avenida';
    font-style: normal;
    font-weight: 400;
    src: local('avenida'), url('../fonts/avenida.woff') format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: local('Neucha'), url(http://fonts.gstatic.com/s/neucha/v7/kfCpWUYjzqqtPFESHGr73_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    src: local('Neucha'), url(http://fonts.gstatic.com/s/neucha/v7/ViNoWbFDS_yEFSbzKGI9MPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
  min-height: 100%; 
  font-family: verdana, sans-serif;
  background: #111 url("../images/bg.jpg") no-repeat 70% 50%;
  background-size: cover;
}
.age-limit {
    font-family: 'Neucha',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #841e2b;
    padding: 16px;
    background-color: #000;
    width: 65px;
    position: absolute;
    top: 60px;
    right: 0px;
    font-size: 27px;
    font-weight: bold;
}
span.cp {
    color: #841e2b;
    font-family: 'Avenida',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}
.text-center {
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        webkit-transition: padding .3s;
        moz-transition: padding .3s;
        transition: padding .3s;
    }
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #841e2b;
    background-color: transparent;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #841e2b;
}
.navbar-default .navbar-brand {
    font-family: 'Avenida',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #841e2b;
    font-size: 45px;
}
.navbar-default .navbar-nav>li>a {
    color: #555;
    font-family: 'Neucha',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #841e2b;
    font-family: 'Neucha',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 25px;
}
.navbar-shrink {
    background-color: #000;
    border-color: #555;
    padding: 6px 0;
}
.navbar-shrink .navbar-brand {
    font-family: 'Avenida',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #841e2b;
    font-size: 45px;
}
.top-phone {
    color: #841e2b;
    font-family: 'Neucha',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 35px;
    padding: 6px 20px;
}
#content p {
    color: #999;
    font-size: 17px;
}
#content a {
    color: #841e2b;
    text-decoration: none;
}
#content hr {
    border-top: 1px solid #841e2b;
    margin: 50px 0;
}
.offer {
    margin: 20% 0;
    color: #ccc;
}
.offer h1 {
    color: #ccc;
    font-size: 45px;
}
.offer h2 {
    color: #999;
}
#rooms h2 {
    color: #ccc;
    text-align: center;
    margin-bottom: 40px;
}
#rooms img {
    border: 3px solid #ccc;
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.22);
}

#contacts span.it {
    color: #ccc;
    font-weight: bold;
}
#contacts span.cost-cmp {
    padding-left: 60px;
}
#map {
    height: 400px;
}

#footer {
    min-height: 200px;
    color: #555;
    background-color: #000;
}
#footer hr {
    border-top: 1px solid #333;
}
#footer span.cp {
    color: #841e2b;
    font-family: 'Avenida',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}
#footer .secret-word {
    font-size: 14px;
    position: relative;
    top: 25px;
}
#footer .secret-word>span {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 70px #fff;
    color: #111;
}
.icon {
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.footer-icon {
    top: 8px;
    position: relative;
}
.list-inline {
    margin:-5px;
    padding: 15px;
}
.list-inline li {
    padding:0 5px;
    display:inline-block
}
.list-inline li a {
    text-decoration: none;
    color: #555;
}
.list-inline li a:hover,
.list-inline li a:focus {
    text-decoration: none;
    color: #841e2b;
}
.footer-icon-container {
    display: block;
    height: 36px;
    width: 36px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
}

/*=========================RESPONSIVE LAYOUTS===========================*/

@media only screen and (max-width: 995px) {

}

@media only screen and (max-width: 480px) {

}
